<!--
    @details.ejs - 
    @author varun goud pulipalpula <s534848@nwmissouri.edu>
-->
<br>
<br>
<div class="container-fluid">
  <h2>account details</h2>
  <div class=row>
    <div class="col col-md-6">

      <br><strong> Account Number:</strong>
      <%=  account.accountnumber %>
    </div>
    <div class="col col-md-6">
      <br><strong> Account Name:</strong>
      <%=account.accountName%>
    </div>
  </div>
  <div class=row>
    <div class="col col-md-6">
      <br><strong> User Id: </strong>
      <%=account.userId%>
    </div>
    <div class="col col-md-6">
      <br><strong> Transaction Id: </strong>
      <%=account.transactionId%>
    </div>
  </div>
  <br>
</div>