<!--
    @home.ejs - 
    @author varun goud pulipalpula <s534848@nwmissouri.edu>
-->
<br>
<div class="container-fluid">
  <!-- <div class=row>
    <div class="col col-md-12">
       <a href="customer/create" class="btn btn-primary new">
        Create a new customer
      </a> 

      <h2>Enter Account Id</h2>
      <br>
      <input id="numId" type="number" placeholder="Account Id" required>
      <a id="demo" href="/account/details/" onclick="myFunction()" class="btn btn-info">Get account Details</a>
    </div>
  </div> -->
  <div class=row>
      <div class="col col-md-2">
          <h2>ACCOUNT</h2>
        </div>
  </div>
  <div class=row>
    <div class="col col-md-12">
      <i><h4>Current Total Number of Records: <%= accounts.query.length%></h4></i>
    </div>
  </div>
  <br>
  <div class=row>
    <div class="col col-md-3">
      <h4>Json Methods</h4>
    </div>
    <div class="col col-md-3">
      <a href="/account/findall/" class="btn btn-link">Find All</a>
    </div>
    <div class="col col-md-4">
      <div class=row>
        <div class="col col-md-4">
          <input id="numId2" type="number" style="width:100px" placeholder="account Id" required>
        </div>
        <div class="col col-md-3">
          <a id="demo2" href="/account/findone/" onclick="myFunctionTwo()" class="btn btn-link">Find One</a>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class=row>
    <div class="col col-md-3">
      <h4>View Methods</h4>
    </div>
    <div class="col col-md-1">
      <a href="/account/create/" class="btn btn-success">Create</a>
    </div>
    <div class="col col-md-1">
      <a href="/account/index" class="btn btn-secondary">Index</a>
    </div>
    <div class="col col-md-1"></div>
    <div class="col col-md-1">
      <a id="demo3" href="/account/details/"onclick="myFunctionThree()" class="btn btn-info">Details</a>
    </div>
    <div class="col col-md-1">
      <a id="demo4" href="/account/delete/" onclick="myFunctionFour()" class="btn btn-danger">Delete</a>
    </div>
    <div class="col col-md-1">
      <a id="demo5" href="/account/edit/" onclick="myFunctionFive()"  class="btn btn-warning">Edit</a>
    </div>
  </div>
  <br>
  <div class=row>
    <div class="col col-md-12">
      <p>Note:  For Delete, Edit, Details and FindOne operations provide the value in input box. </p>
      <p>  For testing default values are 11 or 12 or 13 or 14 or 15 or 16 etc</p>
    </div>
  </div>
</div>
<script>

  function myFunctionTwo() {
    let x = document.getElementById("numId2").value;
    document.getElementById('demo2').setAttribute('href', document.getElementById('demo2').getAttribute('href') + x);
  }

  function myFunctionThree() {
    let x = document.getElementById("numId2").value;
    document.getElementById('demo3').setAttribute('href', document.getElementById('demo3').getAttribute('href') + x);
  }

  function myFunctionFour() {
    let x = document.getElementById("numId2").value;
    document.getElementById('demo4').setAttribute('href', document.getElementById('demo4').getAttribute('href') + x);
  }

  function myFunctionFive() {
    let x = document.getElementById("numId2").value;
    document.getElementById('demo5').setAttribute('href', document.getElementById('demo5').getAttribute('href') + x);
  }
</script>