<!--
    @index.ejs - 
    @author varun goud pulipalpula <s534848@nwmissouri.edu>
-->

<div class="container-fluid">
    <h2>account details</h2>
    <h6>Total Number of Records: <%= accounts.query.length %></h6>
    <br>
    <hr>
    <% for (var i = accounts.query.length-1; i >= 0; i--) {   
    account = accounts.query[i];   %>
    <div class=row>
        <div class="col col-md-6">

            <br><strong> Account Number:</strong>
            <%=  account.accountNumber %>
        </div>
        <div class="col col-md-6">
            <br><strong> Account Name:</strong>
            <%=account.accountName%>
        </div>
    </div>
    <div class=row>
        <div class="col col-md-6">
            <br><strong> User Id: </strong>
            <%=account.userId%>
        </div>
        <div class="col col-md-6">
            <br><strong> Transaction Id: </strong>
            <%=account.transactionId%>
        </div>
    </div>
    <br>
    <hr>
    <br>
    <% } %>
    <br>
    <div class=row>
        <div class="col col-md-2"></div>
        <div class="col col-md-2"></div>
        <div class="col col-md-2">
            <a href="/account" class="btn btn-success">Go to account</a>
        </div>
        <div class="col col-md-2"></div>
    </div>
</div>