<!--
    @footer.ejs - 
    @author Ravi Kumar Atluri <s534734@nwmissouri.edu>
-->
<hr>
</br>
<footer class="footer">
  <div class="container">
    <p>&copy; 2019</p>
    <div class=row>
      <div class="col col-md-3">
        <a href="/about/dev1">Ravi Kumar Atluri </a>
      </div>
      <div class="col col-md-3">
        <a href="/about/dev2">Varun Goud Pulipalpula </a>
      </div>
      <div class="col col-md-3">
        <a href="/about/dev3">Bala Gopi Krishna Sabbineni </a>
      </div>
      <div class="col col-md-3">
          <a href="/about/dev4">Midhun Kandakatla </a>
        </div>
    </div>
  </div>
</footer>