<!--
    @header.ejs - 
    @author Ravi Kumar Atluri <s534734@nwmissouri.edu>
-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

      <button type="button" id="sidebarCollapse" class="navbar-btn">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="fas fa-align-justify"></i>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/user"><img src="https://img.icons8.com/color/30/000000/user.png" title="User"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/account"><img src="https://img.icons8.com/dusk/30/000000/contacts.png" title="Account"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/category"><img src="https://img.icons8.com/dusk/30/000000/medium-priority.png" title="Category"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/transaction"><img src="https://img.icons8.com/dusk/30/000000/ledger.png" title="Transaction"></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>