<!--
    @create.ejs - 
     @author Midhun Kandakatla <s534637@nwmissouri.edu>
-->
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h2>Create a new Category </h2>
      <br>
      <% 
      maxID=0; 
      for (var i=0; i < categories.query.length; i++) {
        if(categories.query[i]._id > maxID) { 
          maxID=categories.query[i]._id;  
        }
      }
      %>
      <div class="content">
        <div>
          <form name="category" method="POST" action="/category/save">

            <div class="form-group" id=frm>
              <label for="_id">ID</label>
              <input type="number" class="form-control" id="_id" name="_id" value="<%= maxID+1 %>" required readonly>
            </div>

            <!-- COMMON TO EDIT AND CREATE -->
            <%include partial_edit.ejs%>

            <div class="form-group">
              <input type="submit" value="Save" class="btn btn-success" />
            </div>
          </form>

          <form method="get" action="/category">
            <input type="submit" value="Return category Home" class="btn btn-info" />
          </form>

        </div>
      </div>
    </div>
  </div>
</div>