<!--
    @details.ejs - 
     @author Midhun Kandakatla <s534637@nwmissouri.edu>
-->
<br>
<br>
<div class="container-fluid">
  <h2>category details</h2>
  <div class=row>
    <div class="col col-md-6">

      <br><strong> Account Number:</strong>
      <%=  category.accountnumber %>
    </div>
    <div class="col col-md-6">
      <br> <strong> Account Name:</strong>
      <%=category.accountname%>
    </div>
  </div>
  <div class=row>
    <div class="col col-md-6">
      <br><strong> Credit Cardit Number: </strong>
      <%=category.creditcardnumber%>
    </div>
    <div class="col col-md-6">
      <br><strong> Debit Cardit Number: </strong>
      <%=category.debitcardnumber%>
    </div>
  </div>
  <div class=row>
    <div class="col col-md-6">
      <br> <strong> Account Type:</strong>
      <%=category.accounttype%>
    </div>
    <div class="col col-md-6">
      <br> <strong> User Id:</strong>
      <%=category.userId%>
    </div>
  </div>
  <br>
</div>