<!--
    @index.ejs - 
     @author Midhun Kandakatla <s534637@nwmissouri.edu>
-->

<div class="container-fluid">
  <h2>category details</h2>
  <h6>Total Number of Records: <%= categories.query.length %></h6>
  <br>
  <hr>
  <% for (var i = categories.query.length-1; i >= 0; i--) {   
    category = categories.query[i];   %>

  <div class=row>
    <div class="col col-md-6">

      <br><strong> Account Number:</strong>
      <%=  category.accountnumber %>
    </div>
    <div class="col col-md-6">
      <br> <strong> Account Name:</strong>
      <%=category.accountname%>
    </div>
  </div>
  <div class=row>
    <div class="col col-md-6">
      <br><strong> Credit Cardit Number: </strong>
      <%=category.creditcardnumber%>
    </div>
    <div class="col col-md-6">
      <br><strong> Debit Cardit Number: </strong>
      <%=category.debitcardnumber%>
    </div>
  </div>
  <div class=row>
    <div class="col col-md-6">
      <br> <strong> Account Type:</strong>
      <%=category.accounttype%>
    </div>
    <div class="col col-md-6">
      <br> <strong> User Id:</strong>
      <%=category.userId%>
    </div>
  </div>

  <br>
  <hr>
  <br>
  <% } %>
  <br>
  <div class=row>
    <div class="col col-md-2"></div>
    <div class="col col-md-2"></div>
    <div class="col col-md-2">
      <a href="/category" class="btn btn-success">Go to category</a>
    </div>
    <div class="col col-md-2"></div>
  </div>
</div>