<!--
    @index.ejs - 
    @author Ravi Kumar Atluri <s534734@nwmissouri.edu>
-->

<div class="container-fluid">
    <h2>User details</h2>
    <h6>Total Number of Records: <%= users.query.length %></h6>
    <br>
    <hr>
    <% for (var i = users.query.length-1; i >= 0; i--) {   
    user = users.query[i];   %>
    <div class=row>
        <div class="col col-md-6">

            <br><strong> Account Number:</strong>
            <%=  user.accountNumber %>
        </div>
        <div class="col col-md-6">
            <br> <img src="https://img.icons8.com/dotty/40/000000/google-mobile.png">
            <%=user.contact%>
        </div>
    </div>
    <div class=row>
        <div class="col col-md-6">
            <br><strong> Name: </strong>
            <%=user.family%>,
            <%=user.firstname%>
        </div>
        <div class="col col-md-6">
            <br> <img src="https://img.icons8.com/dotty/40/000000/new-post.png"> -
            <%=user.email%>
        </div>
    </div>
    <div class=row>
        <div class="col col-md-12">
            <br> <strong> Address: </strong>
            <%=user.street1%>,
            <%=user.street2%>,
            <%=user.state%>,
            <%=user.country%>,
            <%=user.zip%>
        </div>
    </div>
    <br>
    <hr>
    <br>
    <% } %>
    <br>
    <div class=row>
        <div class="col col-md-2"></div>
        <div class="col col-md-2"></div>
        <div class="col col-md-2">
            <a href="/user" class="btn btn-success">Go to User</a>
        </div>
        <div class="col col-md-2"></div>
    </div>
</div>