<!--
    @delete.ejs - 
    @author Bala Gopi Krishna Sabbineni <s534801@nwmissouri.edu>
-->
<br>
<br>
<div class="container-fluid">
  <h2>transaction details</h2>
  <div class=row>
    <div class="col col-md-6">

      <br><strong> Account Number:</strong>
      <%=  transaction.transactionId %>
    </div>
    <div class="col col-md-6">
      <br><strong> Transaction Date:</strong>
      <%=transaction.transactiondate%>
    </div>
  </div>
  <div class=row>
    <div class="col col-md-6">
      <br><strong> Transaction Ammount: </strong>
      <%=transaction.transactionamount%>
    </div>
    <div class="col col-md-6">
      <br><strong> User Id: </strong>
      <%=transaction.userId%>
    </div>
  </div>
  <br>
  <div class=row>
    <div class="col col-md-2"></div>
    <div class="col col-md-2">
      <form method="get" action="/transaction">
        <input type="submit" value="Go to transaction" class="btn btn-success" />
      </form>
    </div>
    <div class="col col-md-2"></div>
    <div class="col col-md-2">
      <form method="POST" action="/transaction/delete/<%= transaction._id %>">
        <input type="submit" value="Confirm Delete" class="btn btn-warning" />
      </form>
    </div>
    <div class="col col-md-2"></div>
  </div>
</div>