<!-- main - a row holds columns -->
<!--
    @partial_edit.ejs - 
    @author Bala Gopi Krishna Sabbineni <s534801@nwmissouri.edu>
-->
<div class=row>

  <div class="col col-md-4 form-group">
    <br><strong> Transaction Id:</strong>
    <input type="text" class="form-control" id="transactionId" name="transactionId"
      value="<%= transaction.transactionId %>">
  </div>
  <div class="col col-md-1  "></div>

  <div class="col col-md-4  form-group">
    <br><strong> Transaction date:</strong>
    <input type="text" class="form-control" id="transactiondate" name="transactiondate"
      value="<%= transaction.transactiondate %>">
  </div>



</div>

<div class=row>

  <div class="col col-md-4 form-group">
    <br>
    <strong> Transaction Amount:</strong>
    <input type="text" class="form-control" id="transactionamount" name="transactionamount"
      value="<%= transaction.transactionamount %>">
  </div>
  <div class="col col-md-1  "></div>

  <div class="col col-md-4  form-group">
    <br><strong> User Id:</strong>
    <input type="text" class="form-control" id="userId" name="userId" value="<%= transaction.userId %>">
  </div>



</div>